<!-- other -->
<%= tag(:meta, name: 'description', content: description) %>
<%= tag(:meta, name: 'keywords', content: title) %>

<!--Facebook -->
<%= tag(:meta, property: 'og:type', content: 'article') %>
<%= tag(:meta, property: 'og:title', content: title) %>
<%= tag(:meta, property: 'og:image', content: image) %>
<%= tag(:meta, property: 'og:description', content: description) %>
<%= tag(:meta, property: 'og:url', content: share_url) %>

<!-- Twitter -->
<%= tag(:meta, name: 'twitter:card', content: 'summary') %>
<%= tag(:meta, name: 'twitter:title', content: title) %>
<%= tag(:meta, name: 'twitter:description', content: description) %>
<%= tag(:meta, name: 'twitter:image', content: image) %>
