#section0{
  background-image: asset-url("wagtail-landing-portrait.jpg");
  padding: 0 0 0 0%;
}

.c-tagline {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.tagline{
  color:#fff;
  font-size: 30px; 
  font-weight: 300;
  margin: 0px auto;

  margin-top: 20px;
  margin-bottom: 80px;
}

.logo {
  width: 350px;
}