.section{
  text-align:center;
  background-size: cover !important;
  padding: 0 0 0 0;
  background: #000;
}

.eager {
  display: none;
  position: absolute;
  left: -1000;
}

#infoMenu li a {
  color: #fff;
}

.c-btn-download{
  margin-top: 0px;
}

.copyright{
  float:left; 
  font-size: 18px;
  margin-top: 1px;

  margin-left: 10px;
  font-weight: normal;
  white-space: nowrap;
}

.c-menu{
  float:right;
  font-size: 16px;
  margin-right: 10px;
}

.nav-menu {
  bottom: 15px;
  color: #fff;

  font-size: 16px;
  font-weight: normal;

  height: 40px;
  padding: 8px 0;
  position: fixed;
  text-align: right;
  width: 100%;
  z-index: 70;
}

.page-slider .table {
  margin-bottom: 0px !important;
}

ul.static-nav {
  padding: 0px;
  margin: 0px;
  li {
    padding: 3px 10px;
  }
}
