#section0-mobile{
  background-image: asset-url("wagtail-landing-mobile.jpg");
  padding: 0 0 0 0%;
  background-size: cover;
}

.c-tagline-mobile {
  width: 254px;
  margin: 0 auto;
  text-align: center;
}

.tagline-mobile{
  color:#fff;
  font-size: 20px; 
  margin-bottom: 100px;
  font-weight: 400;
  margin: 0px;
  padding: 0;
  margin-bottom: 30px;
}

.logo-mobile {
  width: 254px;
  margin-top: 70px;
}