.container-fluid {
  width: 100%;
  padding: 0px;
}

#vslider .table {
  margin-bottom: 0px !important;
}

#fullPage-nav li, .fullPage-slidesNav li {
  margin: 15px 7px !important;
}

#fullPage-nav span, .fullPage-slidesNav span {
  border: 1px solid #fff !important;
  height: 12px !important;
  width:  12px !important;
  background: #fff !important;
}

#fullPage-nav li .active span, .fullPage-slidesNav .active span{
  background: transparent !important;
  height: 16px !important;
  width:  16px !important;
  margin-left: -2px;
}
