.static-page {
   border-top: 10px solid $site_color;
   margin-bottom: 15px;
   .fix-header-bar {
      padding-top: 45px !important;
   }
   .page {
      max-width: 810px;
      margin: 0 auto;
      padding: 0 15px; //$header_bar_floated_size;

      h2 {
         font-size: 24px;
         margin-top: 20px;
         margin-bottom: 30px;
         font-weight: $tk_font_semibold;
      }

      h3 {
         font-size: 1em;
         font-weight: $tk_font_semibold;
         margin-top: 20px;
      }

      p {
         line-height: 24px;
         margin: 20px 0 0;
      }

      address {
         font-style: italic;
      }

      a {
         font-weight: $tk_font_bold;
         word-wrap: nowrap;
      }

      .highlight{
         font-weight: $tk_font_bold;
      }

   }
}