/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.btn-rs {
  width: 100%;
}

.form-signin {
  max-width: 500px;
  margin: 0 auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

  .auth-container{
    width: 700px;
    margin-top: 100px !important;
  }

  .form-signin{
    padding: 15px;
  }

  .btn-rs{
    width: auto;
  }
  
  .content-width {
    width: 660px;
    margin: 0 auto; 
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .post-date{
    text-align: right;
  }
  .popular-container {
    padding:  10px 30px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 

}
