footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.app-banner-m{
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #eee;
  
  background: #fff;
  opacity: 1;
  font-weight: 500;
  width: 100%;
  // height: 50px;
  margin: 0 auto;
  text-align: center;
  padding: 13px 0px;
  a {
    color: #ea5d5f !important;
    font-size: 14px;
    font-weight: $tk_font_bold;
  }
}
