.play-icon-video {
  position: absolute;
  text-shadow: 1px 0 1px #ccc;
  color:#fff !important;
  font-size: 28px;
  left: 50%;
  margin-left: -14px;
  top: 50%;
  margin-top: -14px;
}

.standard-photo {
  padding-bottom: 100%;
  position: relative;
  margin: 0px 0px;
}

.standard-video {
  margin-left: -15px;
}

.image-container{
  margin-top: 0px;
  margin-right: 0px;
  margin-left:  0px;
  background: asset-url("loading.gif") no-repeat scroll 50% 50% ;
}

.photo {
  background-size: 100% 100%;
  position: relative;
}


.feed-photo {
  bottom: 0px;
  left: 0px;
  position: absolute !important;
  right: 0px;
  top: 0px;
}

.post-video {
  visibility: hidden;
}

.photo-effect {
  opacity: 0.3;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}

.a-photo-effect:hover{
  transition: left 0.1s ease-out 0.1s, opacity 0.25s ease 0s
}


