ul.static-nav {
  list-style-type: none;
  padding: 0px;
  margin: 0px;

  li {
    float: left;
    padding: 3px 13px;
  }

  li a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
  }
}
.header-bar {
     display: block;
     width: 100%;
     background-color: $site_color;
     text-align: center;
     margin: 0 auto;
     height: 45px;
     margin-bottom: 20px;

     z-index: 9999;
     position: fixed;
     top: 0;
     left: 0;
     box-shadow: 0 0 2px rgba(0,0,0,1);
     -webkit-box-shadow: 0 0 2px rgba(0,0,0,1);
     img {
       margin-top: 10px;
       height: 25px;
       // width: 100px;
     }
}
