.btn-wag{
  background: #ea5d5f;
  border-color: #f96a6c;
  color: #fff;
}

.btn-wag:hover{
  color: #fff;
}

.btn-arrow-down {
  background-image: asset-url("arrow-down.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-bottom: 60px;
  margin-left: -23px;
  margin-top: 16px;
  position: absolute;
  text-indent: -10000px;
  z-index: 10;
  bottom: 0;
}

.btn-arrow-up {
  background-image: asset-url("arrow-up.png");
  background-repeat: no-repeat;
  display: inline-block;

  margin-bottom: 15px;
  margin-left: -15px;
  position: absolute;
  bottom: 0;
  text-indent: -10000px;
  height: 30px;
  width: 30px;
  z-index: 10;
}

.btn-ios {
  background-image: asset-url("apple.png");
  background-position: 32px 50%;
  background-repeat: no-repeat;
  border: medium none;
  padding-left: 68px !important;
  padding-right: 35px;
  padding-top: 23px;
  font-size: 18px;
  height: 67px;
  font-weight: $tk_font_semibold;
}

.btn-ios-mobile {
  background-image: asset-url("apple.png");
  background-position: 20px 50%;
  background-repeat: no-repeat;
  border: medium none;
  padding-bottom: 15px;
  padding-left: 57px !important;
  padding-right: 27px;
  padding-top: 15px;
  font-size: 15px;
  font-weight: normal;
}
