body {
 font-family: "proxima-nova",sans-serif,"Helvetica Neue",Helvetica,Arial;
 text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
 margin: 0px;
 padding: 0px;
}

h1{
  font-size: 5em; 
  color: #fff;
  margin:0;
  padding:0;
}

a {
  text-decoration: none !important;
}

a,span {
  outline: none !important;
}
