/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  #section0{
    background-image: asset-url("wagtail-landing.jpg");
  }

  .c-tagline{
    width: 600px;
  }

  .tagline{
    font-size: 30px; 
    margin-bottom: 180px;
  }

  .logo {
    width: 450px;
  }

  ul.static-nav li {
    padding: 3px 13px;
  }

  .tagline {
    font-size: 40px;
    margin: 20px auto 100px;
  }

  .copyright{
    margin-left: 40px;
  }

  .c-menu{
    margin-right: 40px;
  }

}

@media (orientation:landscape) and (max-height: 640px) {
  .logo{
    margin-top: -80px;
  }
  .tagline {
    margin: 0px auto 10px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .copyright{
    margin-left: 110px;
  }

  .c-menu{
    margin-right: 108px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 

}
