@media only screen and (orientation:landscape) {
  #section0-mobile{
    background-image: asset-url("wagtail-landing-landscape-mobile.jpg");
    padding: 0 0 0 0%;
  }
  .logo-mobile {
    margin-top: 0px;
  }
  .tagline-mobile{
    margin-bottom: 10px;
  }
}
