<h2>Privacy Policy</h2>

<p>
This Privacy Policy describes how and when Waggram collects, uses and shares your information when you use our Services. Waggram receives your information through our various websites, SMS, APIs, email notifications, applications, buttons, widgets, and ads (the "<strong>Services</strong>" or "<strong>Wagtail</strong>") and from our partners and other third parties. For example, you send us information when you use the Services from our website, or access the Services from an application such as Wagtail for iOS. When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country you reside in or supply information from, you authorize Waggram to use your information in the United States and any other country where Waggram operates.
<br>
If you have questions or concerns regarding this statement, you should contact us at: <%= mail_to ENV['SUPPORT_EMAIL'], ENV['SUPPORT_EMAIL'] %>.
</p>


<h3>Information Collection and Use</h3>

<p> <span class='highlight'>Information Collected Upon Registration:</span> When you create or reconfigure a Wagtail account, you provide some personal information, such as your name, username, password, and email address. Some of this information, for example, your first name and last initial, is listed publicly on our Services, including on your profile page and in search results. Some Services, such as public user profiles and viewing lists, do not require registration. </p>

<p>
<span class='highlight'>Additional Information:</span> You may provide us with profile information to make public within the Wagtail network, such as information about your dog, your location, pictures, and videos. You may provide information to customize your account, such as additional contact information. We may use your contact information to send you information about our Services or to market to you. You may use your account settings to unsubscribe from notifications from Wagtail. You may also unsubscribe by following the instructions contained within the notification or the instructions on our website. We may use your contact information to help others find your Wagtail account, including through third-party services and client applications. You may choose to upload your address book or social media connections so that we can help you find Wagtail users you know. We may later suggest people to follow on Wagtail based on your imported address book contacts or social media associations, which you can delete from Wagtail at any time. If you email us, we may keep your message, email address and contact information to respond to your request. If you connect your Wagtail account to your account on another service in order to cross-post between Wagtail and that service, the other service may send us your registration or profile information on that service and other information that you authorize. This information enables cross-posting, helps us improve the Services, and is deleted from Wagtail within a few weeks of your disconnecting from Wagtail your account on the other service. Providing the additional information described in this section is entirely optional.
</p>

<p>
<span class='highlight'>Public Information:</span> Our Services are primarily designed to help you share information with others. For example, if you purchase a QR tag for your dog, you provide a means for others to contact you using the associated QR code. Most of the information you provide us is information you are asking us to make public. This includes not only your first name, as well as the first letter of your last name, but also your dog’s name and age, and any photos you share through the Services. Your public information is available to other Wagtail users within the Services. When you share information or content like photos, videos, and links via the Services, you should think carefully about what you are making public.
</p>

<p>
<span class='highlight'>Location Information:</span> During registration, you may choose to enable your computer or mobile device to send us location information. You can opt in or out of sharing location information with us by adjusting the location settings on your phone. We may use and store information about your location to provide features of our Services, such as displaying the dogs of other Wagtail users who are nearby, and to improve and customize the Services, for example, with more relevant content like local pet service providers, stories, ads, and suggestions for dogs to follow.
</p>

<p>
<span class='highlight'>Links:</span> We may keep track of how you interact with links across our Services, including our email notifications, third-party services, and client applications, by redirecting clicks or through other means. We do this to help improve our Services, to provide more relevant advertising, and to be able to share aggregate click statistics such as how many times a particular link was clicked on.
</p>

<p>
<span class='highlight'>Cookies:</span> Like many websites, we use cookies and similar technologies to collect additional website usage data and to improve our Services. A cookie is a small data file that is transferred to your computer's hard disk. Wagtail may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable cookies. 
</p>

<p>
<span class='highlight'>Log Data:</span> Our servers automatically record information ("<strong>Log Data</strong>") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites, sign into our Services, interact with our email notifications, use your Wagtail account to authenticate to a third-party website or application, or visit a third-party website that includes a Wagtail button or widget. Wagtail uses Log Data to provide our Services and to measure, customize, and improve them. 
</p>

<p>
<span class='highlight'>Third-Parties:</span> Wagtail uses a variety of third-party services to help provide our Services, such as web hosting providers or cloud storage providers, and to help us understand the use of our Services, such as analytics service providers. These third-party service providers may collect information sent by your browser as part of a web page request, such as cookies or your IP address. Third-party ad partners may share information with us, like a browser cookie ID or cryptographic hash of a common account identifier (such as an email address), to help us measure ad quality and tailor ads.
</p>

<h3>How We Share and Disclose Your Information</h3>
<p>
<span class='highlight'>Your Consent:</span> We may share or disclose your information at your direction, such as when you authorize a third-party web client or application to access your Wagtail account.
</p>

<p>
<span class='highlight'>Service Providers:</span> We engage service providers to perform functions and provide services to us in the United States and abroad. We may share your private personal information with such service providers subject to confidentiality obligations consistent with this Privacy Policy, and on the condition that the third parties use your private personal data only on our behalf and pursuant to our instructions.
</p>

<p>
<span class='highlight'>Law and Safety:</span> Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect Wagtail's rights or property. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information.
</p>

<p>
<span class='highlight'>Business Transfers:</span> In the event that we are involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. The promises in this Privacy Policy will apply to your information as transferred to the new entity.
</p>

<p>
<span class='highlight'>Non-Private or Non-Personal Information:</span> We may share or disclose your non-private, aggregated or otherwise non-personal information, such as your public user profile information, public Tweets, the people you follow or that follow you, or the number of users who clicked on a particular link (even if only one did).
</p>

<h3>Modifying Your Personal Information</h3>
<p>
If you are a registered user of our Services, we provide you with tools and account settings to access or modify the personal information you provide to us and that we associate with your account. You can also permanently deactivate or delete your Wagtail account. After 30 days of deactivation, we begin the process of permanently deleting your Wagtail account from our systems.</p>

<h3>Our Policy Towards Children</h3>
<p>
We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child's account. If you become aware that your child has provided us with personal information without your consent, please contact us at 
<%= mail_to ENV['SUPPORT_EMAIL'], ENV['SUPPORT_EMAIL'] %>.

<h3>California Do-Not-Track Disclosure</h3>

<p>
Because we want to provide you with a personalized Wagtail experience, both in terms of functionality and advertising, we do not change our behavior based on a web browser’s Do Not track signal.
</p>


<h3>Changes to this Policy</h3>
<p>
We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at <%= link_to privacy_url, privacy_url %>. If we make a change to this policy that, in our sole discretion, is material, we will notify you via email to the email address associated with your account or by posting a prominent notice on the Services for the 30 days prior to the effective date of the intended change. By continuing to access or use the Services after a change becomes effective, you agree to be bound by the revised Privacy Policy.
</p>

Thoughts or questions about this Privacy Policy? Please, let us know: <%= mail_to ENV['SUPPORT_EMAIL'], ENV['SUPPORT_EMAIL'] %>.

<p>
 <em> Effective: Aug 4, 2014 </em>
</p>
