<h2>Terms of Service</h2>

<p>
These Terms of Service ("<strong>Terms</strong>") govern your access to and use of the services, including the various websites, SMS, APIs, email notifications, applications, buttons, and widgets associated with the Wagtail mobile application (the "<strong>Services</strong>" or “<strong>Wagtail</strong>”), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "<strong>Content</strong>"). Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.
</p>

<p>
You may use the Services only if you can form a binding contract with Waggram Inc., the entity that provides the Services, (hereinafter “<strong>Waggram</strong>”) and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules, and regulations.
</p>

<p>
The Services that Waggram provides are always evolving and the form and nature of the Services that Waggram provides may change from time to time without prior notice to you. In addition, Waggram may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.
</p>

<h3>1. Description of the Services</h3>
<p>
Wagtail is a mobile application that facilitates data storage and social networking for pets and their owners.  Waggram does not pre-screen users or the content or information provided by users. Moreover, Waggram cannot guarantee the true identity of a user. 
</p>


<h3>2. License to Use the Services</h3>
<p>
Waggram gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by Waggram as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Waggram, in the manner permitted by these Terms.
</p>

<h3>3. Accounts</h3>

<h3> A. Eligibility</h3>
<p>The Services are not intended for children under 13 years of age. If you are 13 - 18 years old, you may use the Services only with the involvement of a parent or guardian. To join the Wagtail community, you must create an account on the Services either by registering on the Services or logging on to the Services using your Facebook account. You may not transfer or sell your Waggram account and User ID to another party. You may not use another user's account without permission. If you are registering as a business entity, you personally guarantee that you have the authority to bind the entity to this Agreement. The Services are not available to temporarily or indefinitely suspended accounts. Waggram reserves the right, in Waggram's sole discretion, to cancel unconfirmed or inactive accounts. Similarly, Waggram may refuse service, in Waggram’s sole discretion, to anyone, for any reason, at any time. 
</p>


<h3>B. Passwords</h3>
<p>You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. Waggram cannot and will not be liable for any loss or damage arising from your failure to comply with the above.
</p>

<h3>4. Privacy</h3>
<p>
Any information that you provide to Waggram is subject to our <%= link_to "Privacy Policy", privacy_path %>, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the <%= link_to "Privacy Policy", privacy_path %>) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by Waggram. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your Waggram account, which you may not be able to opt-out from receiving.
</p>

<h3>5. Payment and Billing</h3>
<p>
There is no cost to join the Wagtail community. However, to access certain features available through the Services you may incur a fee.
</p>

<h3>6. Content on the Services</h3>
<p>
All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.
</p>

<p>
We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will Waggram be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.
</p>

<h3>7. Your Rights</h3>
<p>
You retain your rights to any Content you submit, post or display on or through the Services. By submitting, posting or displaying Content on or through the Services, you grant Waggram a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).
</p>

<p>
You agree that this license includes the right for Waggram to provide, promote, and improve the Services and to make Content submitted to or through the Services available to other companies, organizations or individuals who partner with Waggram for the syndication, broadcast, distribution or publication of such Content on other media and services, subject to our terms and conditions for such Content use. Such additional uses by Waggram, or other companies, organizations or individuals who partner with Waggram, may be made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through the Services.
</p>

<p>
We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.
</p>

<p>
You are responsible for your use of the Services, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party partners. You understand that your Content may be syndicated, broadcast, distributed, or published by our partners and if you do not have the right to submit Content for such use, it may subject you to liability. Waggram will not be responsible or liable for any use of your Content by Waggram in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit.
</p>

<h3>8. Waggram Rights</h3>
<p>
All right, title, and interest in and to the Services (excluding Content provided by users) are and will remain the exclusive property of Waggram and its licensors. The Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. Nothing in the Terms gives you a right to use the Waggram name or any of the Waggram trademarks, logos, domain names, and other distinctive brand features and/or variations and misspellings thereof. Any feedback, comments, or suggestions you may provide regarding Waggram, or the Services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.
</p>

<h3>9. Meetings</h3>
<p>
The Services provide a means of enabling you to arrange physical meetings (“<strong>Wagtail Meetups</strong>”) at venues that include, but are not limited to public parks, private homes, or private enterprises (such as doggie daycare facilities). We do not supervise these Wagtail Meetups and are not involved in any way with the actions of any individuals at these Wagtail Meetups. As a result, we have no control over the identity or actions of any individual (or dog) who is present at these Wagtail Meetups. You should use caution and good judgement when attending Wagtail Meetups.
</p>

<p>
Because we do not supervise or control Wagtail Meetups or interactions among or between users or their dogs, and because we are not involved in any way with physical transportation to or from Wagtail Meetups, and because we cannot guarantee the true identity of users attending a Wagtail Meetup, you agree that you bear all risk associated with Wagtail Meetups. YOU RELEASE US (and our officers, directors, shareholders, agents, employees, affiliates, subsidiaries, and third party partners) and their designees FROM CLAIMS, DEMANDS, AND DAMAGES (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, now and in the future, arising out of or in any way connected with your use of the Services, attendance at, or the actions of you or other persons at Wagtail Meetups. YOU FURTHER WAIVE ANY AND ALL RIGHTS AND BENEFITS OTHERWISE CONFERRED BY ANY STATUTORY OR NON-STATUTORY LAW OF ANY JURISDICTION THAT WOULD PURPORT TO LIMIT THE SCOPE OF A RELEASE WAIVER. YOU WAIVE AND RELINQUISH ALL RIGHTS AND BENEFITS WHICH YOU HAVE OR MAY HAVE UNDER SECTION 1542 OF THE CIVIL CODE OF THE STATE OF CALIFORNIA OR ANY SIMILAR PROVISION OF THE STATUTORY OR NON-STATUTORY LAW OF ANY OTHER JURISDICTION (INCLUDING WITHOUT LIMITATION THE STATES OF MISSOURI, DELAWARE, AND PENNSYLVANIA) TO THE FULL EXTENT THAT YOU MAY LAWFULLY WAIVE SUCH RIGHTS AND BENEFITS.
</p>


<h3>10. Restrictions on Content and Use of Services</h3>

<h3>A. Restrictions on Content</h3>
<p>Your content shall not: (i) be false, inaccurate, or misleading; (ii) be fraudulent or involve the sale of illegal, counterfeit or stolen items; (iii) infringe upon any third-party's copyright, patent, trademark, trade secret or other proprietary or intellectual property rights or rights of publicity or privacy; (iv) violate these Terms, any Waggram policies or guidelines, or any applicable law, statute, ordinance or regulation (including, but not limited to, those governing export control, consumer protection, unfair competition, anti-discrimination or false advertising); (v) contain items that have been identified by the <%= link_to "U.S. Consumer Products Safety Commission (CPSC)", "http://www.cpsc.gov/" %> as hazardous to consumers and therefore subject to a recall; (vi) be defamatory, trade libelous, unlawfully threatening, unlawfully harassing, impersonate or intimidate any person (including Waggram staff or other users), or falsely state or otherwise misrepresent your affiliation with any person, through for example, the use of a similar email address, nickname, creation of a false account or any other method or device; (vii) interfere with a Seller’s business or listings; or (viii) take any action that may undermine online reviews or feedback.
</p>

<h3>B. Restrictions on Use</h3>
<p>You may not do any of the following while accessing or using the Services: (i) access, tamper with, or use non-public areas of the Services, Waggram’s computer systems, or the technical delivery systems of Waggram’s providers; (ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures; (iii) access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by Waggram (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with Waggram (NOTE: crawling the Services is permissible if done in accordance with the provisions of the robots.txt file, however, scraping the Services without the prior consent of Waggram is expressly prohibited); (iv) forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information; (v) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Services; (vi)appear to create liability for Waggram or cause Waggram to lose (in whole or in part) the services of Waggram's ISPs or other suppliers; (vii) link directly or indirectly, reference or contain descriptions of goods or services that are prohibited under this <%= link_to "Agreement", "http://www.etsy.com/guidelines" %>, or other policy or guideline documents as posted on Waggram; or (viii) list any item for sale through the Services that, by paying to Waggram the listing fee or the final value fee, could cause Waggram to violate any applicable law, statute, ordinance or regulation, or that violates the Terms.
</p>

<h3>11. Copyright Policy</h3>
<p>
Waggram respects the intellectual property rights of others and expects users of the Services to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide us with the following information:
</p>

<p>
<strong>A. </strong> a physical or electronic signature of the copyright owner or a person authorized to act on their behalf;
</p>

<p>
<strong>B. </strong> identification of the copyrighted work claimed to have been infringed;
</p>

<p>
<strong>C. </strong> identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material;
</p>

<p>
<strong>D. </strong> your contact information, including your address, telephone number, and an email address;a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and
</p>

<p>
<strong>E. </strong> a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
</p>

<p>
We reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without liability to you. In appropriate circumstances, Waggram will also terminate a user’s account if the user is determined to be a repeat infringer. Our designated copyright agent for notice of alleged copyright infringement appearing on the Services is:
</p>

<p>
  <address>
  Waggram Inc. <br>
  Attn: Copyright Agent<br>
  1521 Concord Pike, Suite 301<br>
  Wilmington, Delaware 19803<br>
  Email: <%= mail_to ENV['SUPPORT_EMAIL'], ENV['SUPPORT_EMAIL'] %>
  </address>
</p>

<h3>12. Termination</h3>

<p>
The Terms will continue to apply until terminated by either you or Waggram as follows. You may end your legal agreement with Waggram at any time for any reason by deactivating your account and discontinuing your use of the Services. You do not need to specifically inform Waggram when you stop using the Services. If you stop using the Services without deactivating your account, your account may be deactivated due to prolonged inactivity.
</p>

<p>
We may suspend or terminate your account or cease providing you with all or part of the Services at any time for any reason, including, but not limited to, if we reasonably believe: (i) you have violated these Terms or any Waggram policy or guideline, (ii) you create risk or possible legal exposure for us; or (iii) our provision of the Services to you is no longer commercially viable. We will make reasonable efforts to notify you by the email address associated with your account or the next time you attempt to access your account.
</p>

<h3> 13. Disclaimers and Limitations on Liability</h3>

<p>
Please read this section carefully since it limits the liability of Waggram and its parents, subsidiaries, affiliates, related companies, officers, directors, employees, agents, representatives, partners, and licensors (collectively, the “<strong>Waggram Entities</strong>”). Each of the subsections below only applies up to the maximum extent permitted under applicable law. Some jurisdictions do not allow the disclaimer of implied warranties or the limitation of liability in contracts, and as a result the contents of this section may not apply to you. Nothing in this section is intended to limit any rights you may have which may not be lawfully limited.
</p>

<h3>A. The Services Are Available “AS-IS.”</h3>
<p>
Your access to and use of the Services or any Content are at your own risk. You understand and agree that the Services are provided to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, THE WAGGRAM ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
</p>

<p>
The Waggram Entities make no warranty and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services or any Content; (iii) the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services; and (iv) whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from the Waggram Entities or through the Services, will create any warranty not expressly made herein.
</p>

<h3>B. Links</h3>
<p>
The Services may contain links to third-party websites or resources. You acknowledge and agree that the Waggram Entities are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by the Waggram Entities of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.
</p>


<h3>C. Limited Liability</h3>
<p>
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE WAGGRAM ENTITIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.
</p>

<p>
IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE WAGGRAM ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID WAGGRAM, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM.
</p>

<p>
THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE WAGGRAM ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
</p>

<h3>14. General Terms</h3>

<h3>A. Governing Law; Disputes</h3>
<p>
These Terms of Use shall be construed in accordance with and governed by the laws of the United States and the State of Delaware, without reference to their rules regarding conflicts of law. You hereby irrevocably consent to the exclusive jurisdiction of the state or federal courts located in Delaware in all disputes arising out of or related to the use of the Site or Service.
</p>

<p>
If you are a federal, state, or local government entity in the United States using the Services in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of California (excluding choice of law).
</p>

<p>
Any claim under these Terms must be brought within one (1) year after the cause of action arises, or such claim or cause of action is barred. Claims made under the separate terms and conditions of purchase for goods and services are not subject to this limitation. No recovery may be sought or received for damages other than out-of-pocket expenses, except that the prevailing party will be entitled to costs and attorneys’ fees. In the event of any controversy or dispute between Waggram and you arising out of or in connection with your use of the Site, the parties shall attempt, promptly and in good faith, to resolve any such dispute. If we are unable to resolve any such dispute within a reasonable time (not to exceed thirty (30) days), then either party may submit such controversy or dispute to mediation. If the dispute cannot be resolved through mediation, then the parties shall be free to pursue any right or remedy available to them under applicable law.
</p>


<h3>B. Severability; Waiver</h3>
<p>
The failure of Waggram to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect.
</p>


<h3>C. No Agency</h3>
<p>
 No agency, partnership, joint venture, employee-employer or franchiser-franchisee relationship is intended or created by this Agreement.
</p>

<h3>D. Entire Agreement</h3>
<p>
These Terms and our <%= link_to "Privacy Policy", privacy_path %> are the entire and exclusive agreement between Waggram and you regarding the Services (excluding any services for which you have a separate agreement with Waggram that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior agreements between Waggram and you regarding the Services.
</p>

<p>
We may revise these Terms from time to time, the most current version will always be at <%= link_to terms_url, terms_url %>. If the revision, in our sole discretion, is material we will notify you via an e-mail to the email associated with your account. By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Terms.
</p>

<p>
These Services are operated and provided by Waggram Inc., 1521 Concord Pike, Suite 301, Wilmington, Delaware 19803. If you have any questions about these Terms, please <%= link_to "contact us", contact_url() %>.
</p>

<p>
  <em> Effective: Aug 4, 2014</em>
</p>
