<% page_title "Create and share your dog's adventures" %>
<% content_for :head do %>
  <%= render 'share/social_meta_tag',
          title:      "Home",
          description: "dog owner app social network",
          image:       image_url("waggit_landing.jpg"),
          share_url:   request.original_url %>
<% end %>

<div class="page-slider" id='page-desktop'>
  <div class="section " id="section0">

   <h1><%= image_tag 'waggit_logo.png', class: 'logo' %></h1>
   <div class='c-tagline' >

    <h1 class='tagline'>
      Capture all your dogs precious moments.
    </h1>

    <div class='c-btn-download'>
      <%= link_to 'Coming Soon', '#', class: 'btn btn-lg btn-ios btn-wag' %>
    </div>

    <br />
    <a href='#page2' class='btn-arrow-down'>Next</a>

   </div>
  </div>
  <div class="section" id="section1">
    <h1>Page2</h1>
  </div>
  <div class="section" id="section2">
    <h1>Page3</h1>
  </div>
  <div class="section" id="section3">
    <h1>Page4</h1>
  </div>
</div>

<div class='nav-menu clearfix'>
  <div class='copyright'>&copy; Waggram Inc.</div>
  <nav class='c-menu'><%= render 'layouts/static_tabs' %></nav>
</div>
