<% page_title "Create and share your dog's adventures" %>
<% content_for :head do %>
  <%= render 'share/social_meta_tag',
          title:      "Home",
          description: "dog owner app social network",
          image:       image_url("wagtail-landing.jpg"),
          share_url:   request.original_url %>
<% end %>

<div class="page-slider" id="page-mobile">
  <div class="section " id="section0-mobile">

   <h1>
    <%= image_tag 'wagtail-logo-mobile.png', class: 'logo-mobile' %>
   </h1>

   <div class='c-tagline-mobile' >
    <h1 class='tagline-mobile'>
      Capture and share your dogs adventures.
    </h1>

    <div class='c-btn-download'>
      <%= link_to 'Coming Soon', '', class: 'btn btn-lg btn-ios-mobile btn-wag' %>
    </div>

    <br />
   </div>
   <a href='#page2' class='btn-arrow-up'>Next</a>
  </div>
  <div class="section" id="section1">
    <h1>Page2</h1>
  </div>
  <div class="section" id="section2">
    <h1>Page3</h1>
  </div>
  <div class="section" id="section3">
    <h1>Page4</h1>
  </div>
</div>
