/*
 image = 885 - 184 = 701
 info  = 1213 - 885 = 328
 margin-top: 70px;

*/

$c_width : 540px;
$c_height : 540px;

.p-c {
  width: 865px;
  margin: 0 auto;
  // padding-top: 54px;
}

.p-c-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  padding-top: $header_bar_floated_size;

  .p-c-wrapper-cell {
    display: table-cell;
    padding-top: 10px;
    vertical-align: middle;
  }
}

.p-main-media{
  width: $c_width;
  height: $c_height;
}

.p-left {
  width: $c_width;
  height: $c_height;
  float: left;
  background-color:#fff;
}

.p-right{
  margin-left: $c_width;
  width: 325px;
  padding-left: 20px;
  padding-top: 20px;
  background: #fff;
  height: $c_height;
  overflow: auto;
}

.p-user-info{
  min-height: 216px;
  .media-body {
    margin-top: 10px;
  }
  .pull-left {
    margin-right: 14px;
  }
}

.p-btn-ios {
  height: 54px;
  padding-top: 17px;
  font-weight: $tk_font_semibold;
}

.p-content{
  margin-right: 20px;
}

.p-share-bar{
  margin-top: -170px; // The size = 372, empty space 32 and header bar is 60  (372-32)/2 - 60
  position: fixed;
  top: 50%;
  z-index: 10;

  .share img{
    width: 44px;
    height: 44px;
  }

  .p-share li {
      float: none !important;
      margin: 0px 6px 32px 0px;
      padding: 0;
      position: relative;
      text-align: center;
      width: 86px;
      a {
        span {
          display: block;
        }
      }
  }
}

.p-count{
  color: #bbc6c7;
  font-size: 14px;
  font-weight: $tk_font_regular;
  margin-top: 30px;
  .p-comment {
    margin-left: 1em;
  }
}

.p-app-bar {
  //background-color: #fff;
  //margin-top: 20px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;

  .p-app {
    margin-left: 44px;
  }

  .p-made{
    font-size: 14px;
    font-weight: bold;
    color: #bbc6c7;
    vertical-align: middle
  }

  .p-logo {
    vertical-align: middle;
    margin-left: 8px;
    img {
      vertical-align: middle;
    }
  }

}

