.container {
  padding: 0px;
  width: 100%;
}
.p-background{
  background-color: #f0f6f6;
  // background: asset-url("post-bg.jpg");
}

.size-standard{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.p-user-img{
  width: 40px;
  height: 40px;
  @include border-radius(3px);
}

.video {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.p-user {
  color: #ed585e;
  font-size: 16px;
  font-weight: 500; /* semibold*/
  margin:0;
  padding: 0px;
}

.p-date{
  color: #bbc6c7;
  font-size: 14px;
  font-weight: $tk_font_regular;
}

.p-description {
  color: #464f60;
  font-size: 18px;
  font-weight: $tk_font_regular;
  margin-right: 20px;
}

.p-hr{
  margin: 50px 0 0;
  padding:0;
}

ul.p-share {
  list-style-type: none;
  padding:0;
  margin: 0;
  li {
    float: left;
    margin-right: 20px;
    text-align: center;
  }
  a {
    color: #bbc6c7;
    font-size: 12px;
    font-weight: $tk_font_semibold;
    span {
      display: none;
    }
  }

}

.share img {
    width: 40px;
    height: 40px;
}

.popular {
  ul{
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  li {
    font-size: 14px;
  }
  .popular-item{
    display: inline-block;
    list-style-type: none;
    margin: 5px 5px 0px 0px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 90px;
    height: 90px;
    a {
      display: block;
      position: relative;
    }
    .popular-caption{
      bottom: 0;
      left: 0;
      height: 24px;
      overflow: hidden;
      position: absolute;
      text-align: center;
      width: 100%;
      color: #fff;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 3px;
      visibility: hidden;
    }
  }
}

.p-more{
  color: #bbc6c7;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: $tk_font_semibold;
}

.p-header-bar {
  display: block;
  width: 100%;
  background-color: #ea5d5f;
  text-align: center;
  margin: 0 auto;
  height: 45px;
  margin-bottom: 20px;

  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 2px rgba(0,0,0,1);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,1);
  img {
    margin-top: 10px;
    height: 25px;
    // width: 100px;
  }
}

