.p-large-screen {
  display: none;
}
.p-small-screen {
  display: block;
}

.p-mobile {
  padding-top: 48px; // for fixed header bar
  padding-bottom: 48px; // for fixed footer app bar
}

.p-main-media-m{

}

.p-c-m {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.p-c-bottom{
  padding-left: 20px;
}

.p-user-info-m{
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  .media-heading{
    padding:0;
    margin: 2px 0 0;
  }
  .pull-left {
    margin-right: 10px;
  }
}

.p-space {
  margin-top: 25px;
}

.p-sep {
  margin: 25px 20px 25px 0;
}

.popular-responsive-c {
  // calculation element
}
