
.popular-responsive-c{
  .popular-item{
      display: inline-block;
      list-style-type: none;
      margin: 5px 5px 0px 0px;
      padding: 0;
      position: relative;
      text-align: center;
      width: 32%;
      height: 32%;
  }
}

@media (min-width: 540px){
  .p-c-m {
    width: 540px;
  }
}

@media (max-width: 900px) {
  .p-large-screen {
    display: none !important;
  }
  .p-small-screen {
    display: block !important;
  }
}


@media (min-width: 901px) {
  .p-large-screen {
    display: block !important;
  }
  .p-small-screen {
    display: none !important;
  }
}

@media (min-width: $screen-sm-min) {
  .p-user-img{
    width: 46px;
    height: 46px;
  }

  .p-date {
    font-size: 12px;
  }

  .p-description {
    font-size: 20px;
    font-weight: $tk_font_light;
    margin: 40px 0 0;
    max-height: 110px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
  }

  .p-more{
    padding: 0;
    margin: 20px 0 14px 0;
  }

  .popular {
    .popular-item{
      display: inline-block;
      list-style-type: none;
      margin: 6px 6px 0px 0px;
      padding: 0;
      position: relative;
      text-align: center;
      width: 86px;
      height: 86px;
    }
  }

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 

}
