<ul class='static-nav'>
  <%#= nav_item 'About', about_url, 'about' %>
  <%= nav_item 'Privacy Policy', privacy_url, 'privacy' %>
  <%= nav_item 'Terms', terms_url, 'terms' %>
  <%= nav_item 'Facebook', "https://www.facebook.com/mywagtail", 'facebook', target: '_blank' %>
  <%= nav_item 'Contact', "mailto:#{ENV['SUPPORT_EMAIL']}", 'contact' %>
</ul>
