<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : ENV['APP_NAME'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <%=favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= render 'layouts/google_analytic' %>
    <%= render 'layouts/font' %>

    <%= csrf_meta_tags %>

    <%= yield(:head) if content_for?(:head) %>
  </head>

  <body>

    <div class="container">
      <div class='content'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
