<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : ENV['APP_NAME'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <%=favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "static_page", media: "all" %>
    <%= javascript_include_tag "static_page" %>

    <%= render 'layouts/static_page/fix_mobile_chrome_css' if on_browser_chrome? %>
    <%= render 'layouts/google_analytic' %>
    <%= render 'layouts/font' %>

    <%= csrf_meta_tags %>
    <%= yield(:head) if content_for?(:head) %>
  </head>

  <body>
    <div class='container-fluid'>
      <%= yield %>
    </div> <!-- /container -->
  </body>
</html>